<app-header titulo="TABS page"></app-header>

<ion-content>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="breadcrum">
        <ion-icon name="play-circle"></ion-icon>
        Breadcrum
      </ion-tab-button>
      <ion-tab-button tab="datetime">
        <ion-icon name="radio"></ion-icon>
        Datetime
      </ion-tab-button>
      <ion-tab-button tab="action-sheet">
        <ion-icon name="library"></ion-icon>
        ActionSheet
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
