<app-header titulo="Page badge"></app-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Resumenes</ion-label>
      <ion-badge color="primary">30%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Apps</ion-label>
      <ion-badge color="secondary">50%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Documentacion</ion-label>
      <ion-badge color="tertiary">45%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Formularios</ion-label>
      <ion-badge color="success">80%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Margenes</ion-label>
      <ion-badge color="warning">20%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Reportes</ion-label>
      <ion-badge color="danger">60%</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
