<ion-header>
  <ion-toolbar>
    <ion-title>content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-content class="ion-padding">
    <h2>Materias de TICS </h2>
    <h1>5 "C"</h1>
  
    <ion-button expand="block" (click)="scrollToBottom()">Scroll to Bottom</ion-button>
  
    <p>Aplicaciones web l4.0</p>
    <p>Lectura expresion oral y escrita II</p>
    <p>Aplicaciones Iot</p>
    <p>Bases de datos para computo en la nube</p>
    <p>Desarrollo movil multiplataforma</p>

  
    <ion-button expand="block" (click)="scrollToTop()">Scroll to Top</ion-button>
  </ion-content>-->
</ion-content>
