<app-header titulo="Page ACCORDION"></app-header>

<ion-content>
<H2 class="ion-text-center ion-align-items-center">Guerrero</H2>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Primera zona de guerrero</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Zona montañosa
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Segunda zona de guerrero</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Costa chica
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Tercera zona de guerrero</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Costa grande
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
